* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: #f3f3f3;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  display: flex;
  align-items: center;
  background: #276bff;
}
nav h2 {
  font-size: 2em;
  color: #fff;
  user-select: none;
  margin-right: 50px;
}
nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  position: relative;
  list-style: none;
  margin: 0 15px;
}
nav ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #ffffffaf;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.3s;
  text-align: center;
  font-size: 1.5rem;
}
nav ul li a:hover {
  color: white;
  text-shadow: 0 0 10px #276bff, 0 0 40px #276bff, 0 0 80px #276bff;
}

.contact-form {
  background: #f9f9f9;
  border: 1.5px solid #ddd;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin: 200px auto;
  animation: fadeIn 1s ease-in-out;
}
.contact-form h1 {
  margin-bottom: 20px;
  text-align: center;
}
.contact-form label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 14px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  padding-right: 1px;
  border-radius: 8px;
  border: 1.5px solid #ccc;
  margin-bottom: 20px;
  background: #fff;
  font-size: 14px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #276bff;
  background-color: #fffefb;
}

.contact-form button {
  background-color: #276bff;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.contact-form button:hover {
  background-color: #0051ff;
  transform: translateY(-5px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
