* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: #f3f3f3;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  display: flex;
  align-items: center;
  background: #276bff;
}
nav h2 {
  font-size: 2em;
  color: #fff;
  user-select: none;
  margin-right: 50px;
}
nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  position: relative;
  list-style: none;
  margin: 0 15px;
}
nav ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #ffffffaf;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.3s;
  text-align: center;
  font-size: 1.5rem;
}
nav ul li a:hover {
  color: white;
  text-shadow: 0 0 10px #276bff, 0 0 40px #276bff, 0 0 80px #276bff;
}
.portofolio h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  color: #276bff;
  letter-spacing: 7px;
}

.portofolio {
  display: flex;
  flex-direction: column;
  margin-top: 250px;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}
.image img {
  width: 20%;
  margin: 20px;
  border-radius: 25px;
  transition: all 0.3s ease;
  animation: fadeIn 3s ease-in-out;
}
.image img:hover {
  box-shadow: 0 0 10px #276bff7a, 0 0 40px #276bff7a, 0 0 80px #276bff7a;
  transform: translateY(-15px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
