* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: #f3f3f3;
}
nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #276bff;
  z-index: 100;
}
nav h2 {
  font-size: 2em;
  color: #fff;
  user-select: none;
  margin-right: 50px;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  margin: 0 15px;
}
nav ul li a {
  margin: 0 15px;
  text-decoration: none;
  color: #ffffffaf;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.3s;
  text-align: center;
  font-size: 1.5rem;
}
nav ul li a:hover {
  color: white;
  text-shadow: 0 0 10px #276bff, 0 0 40px #276bff, 0 0 80px #276bff;
}
.container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-right: 150px;
  animation: fadeIn 1s ease-in-out;
}

.profile img {
  height: auto;
  width: 400px;
  border-radius: 50%;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}
.profile img:hover {
  box-shadow: 0 0 10px #276bff7a, 0 0 40px #276bff7a, 0 0 80px #276bff7a;
  transform: translateY(-15px);
}

.profile h1 {
  font-size: 4rem;
  margin-bottom: 15px;
  color: #333;
  text-shadow: 0 0 10px #276bffad, 0 0 40px #276bffad, 0 0 80px #276bffad;
}

.profile p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #276bff;
  letter-spacing: 7px;
}

.biodata {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  animation: fadeIn 3s ease-in-out;
}

.biodata h1 {
  font-size: 3rem;
  margin-bottom: 15px;
  color: #333;
  border-bottom: #333 solid 5px;
  width: 200px;
}

.biodata p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.biodata span {
  font-weight: bold;
  color: #276bff;
}
.pengalaman {
  margin-top: 150px;
  margin-left: 100px;
  margin-bottom: 100px;
  animation: fadeIn 3s ease-in-out;
}
.pengalaman h1 {
  font-size: 3rem;
  margin-bottom: 15px;
  color: #333;
  border-left: #333 solid 5px;
  padding-left: 15px;
  border-radius: 5px;
  width: 200px;
}
.pengalaman li {
  margin-top: 50px;
  margin-left: 20px;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #276bff;
  padding: 30px;
  width: 50%;
  border-radius: 25px;
  color: #276bff;
}
.pengalaman span {
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
